@{
    Layout = "_Layout";
}
@if(ViewContext.HttpContext.User.Identity.IsAuthenticated)
{
    @await Component.InvokeAsync("Field")
}
else
{
    <div class="welcome">
        <h1>Добро пожаловать</h1>
        <span>Чтобы играть - <a asp-controller="Account" asp-action="Login">войдите</a> или <a asp-controller="Account" asp-action="Create">зарегистрируйтесь</a></span>
    </div>
}
