@model LoginForm
<div class="register">
    <h2 class="register_title">Войти в аккаунт</h2>
    <form method="post" asp-controller="Account" asp-action="Login" class="form">
        <div asp-validation-summary="All"></div>
        <input asp-for="Username" placeholder="Login" type="text" class="input"/>
        <input asp-for="Password" type="password" placeholder="Password" class="input"/>
        <button class="button button-blue" type="submit" formmethod="post" >Войти</button>

    </form>
</div>