<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styles.css">
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
    <script src="~/js/game.js"></script>
    <script src="~/js/script.js"></script>
    <title>Тетрис</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="flex header_container">
                <div class="logo">
                    <a href="/">Тетрис</a>  
                </div>
                <div class="login_buttons">
                    @if(ViewContext.HttpContext.User.Identity.IsAuthenticated)
                    {
                        <a class="logout button" asp-controller="Account" asp-action="Logout"><span>Выйти</span></a>
                    }
                    else
                    {
                        <a class="login button" asp-controller="Account" asp-action="Login" ><span>Войти</span></a>
                        <a class="register button" asp-controller="Account" asp-action="Create"><span>Зарегистрироваться</span></a>
                    }
                </div>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            @RenderBody()
        </div>
    </main>
</body>
</html>